<div class="banner banner1">
      
</div>
<div class="banner banner2">

</div>
<div class="banner banner3">
      
</div>

<A NAME="PHOTOS"></A>
<div class="photos">
  <%= image_tag "foto1.jpg", id: "foto1", class: "foto" %>
  <%= image_tag "foto2.jpg", id: "foto2", class: "foto" %>
  <%= image_tag "foto3.jpg", id: "foto3", class: "foto" %>
  <%= image_tag "foto4.jpg", id: "foto4", class: "foto" %>
  <%= image_tag "foto5.jpg", id: "foto5", class: "foto" %>
</div>

<A NAME="DATE"></A>   
<div class="date-time">
  <h1>Queremos você lá! Fique atento à data, horário e local!</h1><hr>
  <div class="date-time-infos">
    <h1>13 de Abril de 2019</h1>
    <h2>19 horas e 30 minutos</h2>
    <h3>Igreja Presbiteriana de Carandaí - Rua Afrânio de Melo Franco, 30, Centro, Carandaí - MG</h3>
  </div>
  <h2>Não sabe como chegar? Não tem problema, basta clicar nesse ícone abaixo:</h2>
  <div class="maps-icon">
    <a href="https://www.google.com.br/maps/place/Igreja+Presbiteriana+de+Carandai/@-20.950813,-43.8054675,17z/data=!3m1!4b1!4m5!3m4!1s0xa1806aa2f3ef21:0xf78e3cb933c91a1d!8m2!3d-20.950813!4d-43.8032788" target="_blank"><i class="fa fa-map-marker-alt"></i></a> 
  </div>
</div>

<A NAME="CONFIRMATION"></A>