<!DOCTYPE html>
<html>
  <head>
    <title>Micaelecacau</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <div class="mobile-mask visible-xs visible-sm visible-md">
      
    </div>
    <ul class="header-menu">
        <div class="visible-xs visible-sm visible-md logo-mobile">
          <%= link_to root_path do %>
            <div class="visible-xs visible-sm header-logo header-logo-mobile">
              <div class="letter-logo letter-logo-mobile m m-mobile">M</div>
              <div class="letter-logo letter-logo-mobile e">&</div>
              <div class="letter-logo letter-logo-mobile c c-mobile">C</div>
            </div>   
          <% end %>
        </div>
        <a href="https://www.querodecasamento.com.br/lista-de-casamento/micaelecacau/"><li id="first-child-menu">Lista de Presentes</li></a>
        <%= link_to new_confirmation_path(anchor: 'PHOTOS') do %><li>Fotos</li> <% end %>
        <%= link_to new_confirmation_path(anchor: 'DATE') do %><li>Data e Hora</li> <% end %>
        <%= link_to new_confirmation_path(anchor: 'CONFIRMATION') do %><li>Confirme sua presença</li> <% end %>
        <% if logged_in? %>
          <%= link_to confirmations_path do %><li>Área dos noivos</li><% end %>
          <%= link_to logout_path, method: :delete do %><li id="last-child-menu">Sair</li><% end %>
        <% else %>
          <%= link_to login_path do %><li id="last-child-menu">Área dos noivos</li><% end %>
        <% end %>
        <div class="visible-xs visible-sm end-menu-mobile">
          <div class="btn-close-menu">
            <h1>X</h1>
          </div>
        </div>
    </ul>
    <div class="btn-menu-mobile visible-xs visible-sm">
      <i class="fa fa-bars"></i>
    </div>
    <header>
      
    </header>
    <% if notice %>
      <div class="notices">
       <p><%= notice %></p> 
      </div>
    <% end %>
    <% flash.each do |name, msg| %>
      <div class="notices">
       <p><%= msg %></p> 
      </div>
    <% end %>

    <%= link_to root_path do %>
      <div class="header-logo">
        <div class="letter-logo m">M</div>
        <div class="letter-logo e">&</div>
        <div class="letter-logo c">C</div>
      </div>   
    <% end %>
      
    
    
    <%= yield %>
    <footer>
      <div class="container"> 
        <div class="row">
          <div class="footer-logo col-md-6">
            <%= link_to root_path do %>
              <div class="footer-header-logo header-logo">
                <div class="letter-logo m">M</div>
                <div class="letter-logo e">&</div>
                <div class="letter-logo c">C</div>
              </div>
            <% end %>
          </div>
          <div class="footer-links col-md-6">
            <h3>Links:</h3>
            <ul>
              <a href="https://www.querodecasamento.com.br/lista-de-casamento/micaelecacau/"><li>Lista de Presentes</li></a>
              <%= link_to new_confirmation_path(anchor: 'PHOTOS') do %><li>Fotos</li> <% end %>
              <%= link_to new_confirmation_path(anchor: 'DATE') do %><li>Data e Hora</li> <% end %>
              <%= link_to new_confirmation_path(anchor: 'CONFIRMATION') do %><li>Confirme sua presença</li> <% end %>
              <% if logged_in? %>
                <%= link_to confirmations_path do %><li>Área dos noivos</li><% end %>
                <%= link_to logout_path, method: :delete do %><li>Sair</li><% end %>
              <% else %>
                <%= link_to login_path do %><li>Área dos noivos</li><% end %>
              <% end %>
            </ul>
          </div>
        </div> 
      </div>
      <h6>Micael & Cacau 2019 Desenvolvido por Robson Resende</h6>
    </footer>
  </body>
</html>